<p style = "color: red"><%= flash[:zero_balance] %></p>
<p style = "color: green"><%= flash[:add] %></p>
<p style = "color: red"><%= flash[:not_add] %></p>


<div class="container">
	<div class="row">
		<% @games.each do |g| %>
			<% if (g.users.count)<=9 %>
				<div class="col-md-4" >
					<div class="panel panel-default" id="new_game">
						<div class="panel-heading">
							<h3 class="panel-title">Rate: <%= g.rate %></h3>
						</div>
						Winner: 
							<% if (g.winner) == nil %>
								еще не определен
							<% else %>
								<%= (@users.find_by('id = ?', (g.winner))).login %>
							<% end %>
						<p class="text-center">Участники:</p> 
						<% (g.users.where('game_id = ?', g.id)).each do |gu|%>
							<%= gu.login %>
						<% end %>
						<% if user_signed_in? %>
							<%= button_to "Участвовать",  {action: 'add_player', id_game: g.id }, method: :post, :class=>"btn btn-success btn-block"%>
						<% end %>	
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
